@using App.Domain.Core.Atm.Transaction.Dtos

@model List<TransactionDto>

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered table-sm">
        <thead>
            <tr>
               
                <th scope="col">Source Card Number</th>
                <th scope="col">Destinations Card Number</th>
                <th scope="col">TransavtionDate</th>
                <th scope="col">Amount</th>
                <th scope="col">IsSuccess</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in @Model)
            {
                <tr>
                    <th scope="row">@transaction.SourceCardNumber</th>
                    <td>@transaction.DestinationsCardNumber</td>
                    <td>@transaction.TransavtionDate</td>
                    <td>@transaction.Amount</td>
                    <td>@transaction.IsSuccess</td>
                </tr>
            }
        </tbody>
    </table>
</div>